@media (min-width:768px){

nav{
display:flex;
flex-direction:row;
justify-content: center;
}

nav ul li a{
    transition: .3s all ease-in-out;
}
nav ul li a:hover{
    font-size: 23px;
}

.menu-image{
display:none;
}

.grid{
grid-template-columns:repeat(3,1fr);
}

}