*,
*::after,
*::before{
    box-sizing: border-box;
}

:root{
    --primary-color:#550808;
    --secondary-color:#1B5E20;
    --tetialry-color:#fff;
}

body{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}


header{
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}

.logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo-container .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo span{
    font-weight: bold;
    font-size: smaller;
}
.logo img{
 width: 80px;
}
.menu-image{
    width: 40px;
}
.close{
    width: 40px;
    display: none;
}

nav{
    padding: 10px;
    background: var(--primary-color);
    display: none;
}
nav.open{
    display: block;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
}
nav ul li a{
    text-decoration: none;
    color: var(--tetialry-color);
    font-size: 20px;
}
nav ul li:not(:first-child)::before{
    content: "|";
    color: var(--tetialry-color);
    font-size:20px;
    font-weight: bold;
    margin-right: 5px;
}

.directory-header{
    text-align:center;
    padding:40px 20px;
    background:linear-gradient(135deg,#2E7D32,#1B5E20);
    color:white;
}

.directory-header h1{
    font-size:2rem;
    margin-bottom:10px;
}

.directory-header p{
    font-size:1rem;
    max-width:600px;
    margin:auto;
}
.filters{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    justify-content:center;
    margin:20px;
}

.filters input,
.filters select{
    padding:8px;
    font-size:16px;
    border-radius:4px;
    border:1px solid #ccc;
    width: 80%;
}
.filters label{
    font-size: 18px;
}
.Search-input-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.category-div{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.grid{
display:grid;
grid-template-columns:1fr;
gap:20px;
padding:20px;
}

.grid section{
background:#fff;
padding:15px;
border-radius:5px;
box-shadow:0 0 5px rgba(0,0,0,0.2);
}

.card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.member-info {
    padding: 15px;
}

.member-info h3 {
    margin-top: 0;
    font-size: 1.2rem;
}

.member-info p {
    margin: 5px 0;
    font-size: 0.9rem;
}

.member-info a {
    display: inline-block;
    margin-top: 8px;
    color: #2E7D32;
    text-decoration: none;
    font-weight: bold;
}

.member-info a:hover {
    text-decoration: underline;
}




footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
    border-top: 1px solid var(--primary-color);
    padding-top: 10px;

    
    width: 100%;
}

footer .social img{
    width: 50px;
}
footer .footer-date{
    background-color:var(--secondary-color);
    width: 100%;
    padding: 10px;
    color: var(--tetialry-color);
}

/* home page */
.hero{
    position: relative;
}
.hero img{
    width: 100%;
}
.hero .hero-layout{
    position: absolute;
    top: 0;
    /* left: 30%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.hero .hero-layout a{
    text-decoration: none;
    padding: 20px;
    color: #fff;
    background-color: var(--secondary-color);
    border-radius: 10px;
    cursor: pointer;
    font-size: larger;

}
.hero .hero-layout p{
    font-size: 35px;
    text-align: center;
    color: #fff;
}


/* event */
main h1{
    padding-inline: 10px;
}
.event-section{
    padding: 10px;
    position: relative;
}

.event-section h2{
    background-color: var(--secondary-color);
    color: #fff;
    padding: 20px;
}
.overlaySlider{
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
}
.slide {
  display: none;
  text-align: center;
}

.slide.active {
  display: block;
}

.slide img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

/* weather */
.weather{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
}
.weather h2{
    background-color: var(--secondary-color);
    color: #fff;
    padding: 20px;
    width: 100%;
    text-align: center;

}
.forcast{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.forcast h3{
     background-color: var(--secondary-color);
    color: #fff;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#spotlight-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
}
.spotlights{
    padding: 10px;
}
.spotlights h2{
    background-color: var(--secondary-color);
    color: #fff;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.card {
  flex: 1;
  min-width: 200px;
  background: #f5f5f5;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
}

.card img {
  width: 100px;
  height: auto;
}

/* join section */
.form-section{
    display:flex;
    flex-direction:column;
    gap:20px;
    padding:20px;
}

form{
    display:flex;
    flex-direction:column;
    gap:10px;
    justify-content: center;
    align-items: center;
}
form label{
    width: 100%;
    font-weight: bold;
    padding: 50 0 0 50;
    min-width: 100px;
    /* width: 200px; */
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: start;
}
input[type="submit"]{
    padding: 20px;
    width: 100%;
    color: #fff;
    background-color: var(--secondary-color);
    font-weight: bold;
    border-radius: 5px;
}
label input{
    padding: 10px;
}
label select{
    padding: 10px;
}
label textarea{
    width: 200px;
    height: 100px;
}
.cards{
    display:grid;
    grid-template-columns:1fr;
    gap:15px;
    padding: 20px;
}

.card{
    padding:20px;
    background:#b9ebc1;
    text-align:center;
    opacity:0;
    transform:translateY(20px);
    animation:fadeIn 1s forwards;
}
.card a{
    text-decoration: none;
    padding: 10px;
   border-radius: 5px ;
   border: 1px solid var(--secondary-color);
   color: #550808;
}

.card:nth-child(2){animation-delay:0.2s;}
.card:nth-child(3){animation-delay:0.4s;}
.card:nth-child(4){animation-delay:0.6s;}

@keyframes fadeIn{
    to{
        opacity:1;
        transform:translateY(0);
    }
}

.modal{
    display:none;
    position:fixed;
    width: 60%;
    height: 200px;
    top:30%;
    left:50%;
    transform:translate(-50%,-50%);
    background:white;
    padding:20px;
    box-shadow:0 0 10px rgb(59, 59, 59);
}

.modal.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .5 ease-in-out;
    /* opacity: 1; */
}



.modal .close{
    /* border: 1px solid; */
    display: block;
    text-decoration: none;
    padding: 10px;
   border-radius: 5px ;
   border: 1px solid var(--secondary-color);
   color: #550808;
   width: 100px;
   text-align: center;
}

.modal .close img{
    width: 50px;
}

/* thank you page */

#results{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.main-thank h2{
    text-align: center;
    background-color: var(--secondary-color);
    color: #fff;
    padding: 30px;

}